<div class="nav">
<div class="nav-container">
  <div role="button" class="button-nav" (click)="toggleActive()">
      <ng-container *ngIf="!isActive">
          <img class="imgOpen"  src="https://cdn-icons-png.flaticon.com/512/747/747496.png" alt="bars">
      </ng-container>
      <ng-container *ngIf="isActive">
        <img class="imgClose" src="https://cdn-icons.flaticon.com/png/512/2099/premium/2099190.png?token=exp=1635066221~hmac=c5ebcc8310fa3f9832df4cbeb44ab184" alt="X">
      </ng-container>
  


<nav class="nav-content" [ngClass]="{ 'nav-content--open' : isActive}">

    <ul class="nav-content__list">
      <li class="navigator-list__item" *ngFor="let element of navigator">
        <a routerLink="{{element.link}}"> {{element.name}}</a>
      </li>
    </ul>
  </nav>
  
</div>
</div>