.nav{
  background-image: url("https://cdn.shopify.com/s/files/1/0071/0977/1319/products/Tazas_RickyMorty_9_diseno_1024x.jpg?v=1570787251");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 320px;
}
  
  .nav-container {
    .button-nav {
     
      margin: 20px;
      cursor: pointer;
      .imgOpen{
          width: 50px;
          padding: 15px;
      }
      .imgClose{
          width: 50px;
      }
    }
  
    .nav-content {
      display: none;
      background-color:black;
      text-decoration: none;
      width: 1500px;
  
      &--open {
        display: flex;
        justify-content: center;
      }
  
      .nav-content__list {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        .navigator-list__item{
          display: flex;
          align-items: center;
          padding: 30px 10px 0;
          margin: 20px;
  
          a {
            text-decoration: none;
            letter-spacing: 2px;
            padding: 5px 10px;
            text-transform: uppercase;
            color: white;
          }
        }
      }
    }
  }
  