<div class="home">
    <h1>Bienvenidos a la página de Rick y Morty, aquí encontraras:</h1>
    <img src="https://static.posters.cz/image/750/posters/rick-and-morty-pickle-rick-i51002.jpg" alt="Pickle Rick">
    <h1>Galeria de personajes</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWTIaImAsYfMtqMemgnWk4WyUIdOOXdLpUAQ&usqp=CAU" alt="Personajes">
    <h1>Planetas</h1>
    <img src="https://s2.dmcdn.net/v/HyuZN1QsBBf2YUIIi/x1080" alt="planetas">
    <h1>Lista de Capítulos</h1>
    <img src="https://www.justwatch.com/images/backdrop/8580211/s1440/rick-and-morty" alt="Episodios">
    <h1>¡Contacta con nosotros!</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0WQVXqSFgbTJPOOtqZ03jixEfCFBz9yIFhw&usqp=CAU" alt="Contactanos">
</div>
