.title{
    text-align: center;
    font-size: 50px;
}
.container{
    width: 100%;
    margin: 0 auto;
    ul{
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding: 0;
        text-align: center;
        li{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            list-style-type: none;
            width: 90%;
            max-width: 550px;
            border: 2px black;
            border-radius: 5px;
            margin: 0 auto 30px auto;
            padding: 15px 15px 40px;
            cursor: pointer;
            h4 {
                display: block;
                font-size: 1.5rem;
                
            }
            img{
                width: 100%;
                border-radius: 8px;
                max-width: 500px;
                border: 2px solid black;
                margin: 0 auto;
            }
            
           
        }
    }
}
.block-container{
    display: flex;
    button{
    
        width: 80%;
        max-width: 150px;
        margin: 60px auto;
        padding: 15px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 12px;
    }
}
